body {
  margin: 0;
  background: #eee;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
}

.ShippingContainer {
  text-align: center;
  display: grid;
  grid-template-columns: 45vw 2vw 45vw;
  justify-content: center; 
  border-bottom: dashed gray;
}

.Label, .Address {
  font-size: 1.1rem;
  border-radius: 4px;
  min-height: 20vh;
  margin-top: 5%;
}

.Label {
  margin-left: 60%;
}

.Address {
  grid-column: 3;
  margin-right: 60%;
}

@media (max-width: 900px) {
  .ShippingContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 1rem;
  }
.Label, .Address {
    /* display: flex;
    flex-direction: row; */
    display: block;
    color: black;
    font-size: 1.8rem;
    border-radius: 6px;
    margin-left: 3%;
    margin-right: 3%;
    padding: 0 auto;
    text-align: center;
    line-height: 1.3;
    padding: 2%;
    }
    .Address {
  vertical-align: top;
  grid-column: 1;
  margin-right: 0%;
}

.Label {
margin-left: 0%;
}
}